# Consultas

### Consulta 1 - Mostrar todos os eventos com suas datas, localização, e tipo de evento.

In [ ]:
import sqlite3


conn = sqlite3.connect('banco_de_dados_sympla.db')
cursor = conn.cursor()


cursor.execute('''
SELECT e.nome, de.data, de.localizacao, e.tipo
FROM eventos e
JOIN dados_eventos de ON e.id = de.id_evento;
''')
resultados = cursor.fetchall()

for resultado in resultados:
    print(f'Título: {resultado[0]}')
    print(f'Data: {resultado[1]}')
    print(f'Localização: {resultado[2]}')
    print(f'Tipo de Evento: {resultado[3]}')
    print('-' * 50)

### Consulta 2 - Mostrar os dados dos 2 eventos mais próximos de iniciar

In [ ]:

cursor.execute('''
SELECT e.nome, de.data, de.localizacao, e.tipo
FROM eventos e
JOIN dados_eventos de ON e.id = de.id_evento
ORDER BY 
    CASE 
        WHEN de.data LIKE '%/%' THEN 
            STRFTIME('%d/%m', de.data) 
        ELSE 
            '01/01' 
    END ASC
LIMIT 2;
''')

resultados = cursor.fetchall()

# Exibir os resultados
for resultado in resultados:
    print(f'Título: {resultado[0]}')
    print(f'Data: {resultado[1]}')
    print(f'Localização: {resultado[2]}')
    print(f'Tipo de Evento: {resultado[3]}')
    print('-' * 50)

### Consulta 3. Mostrar os eventos que acontecem no Rio de Janeiro.'

In [ ]:

cursor.execute('''
SELECT e.nome, de.data, de.localizacao, e.tipo
FROM eventos e
JOIN dados_eventos de ON e.id = de.id_evento
WHERE de.localizacao LIKE '%Rio de Janeiro%'
''')

resultados = cursor.fetchall()

# Exibir os resultados
if resultados:
    for resultado in resultados:
        print(f'Título: {resultado[0]}')
        print(f'Data: {resultado[1]}')
        print(f'Localização: {resultado[2]}')
        print(f'Tipo de Evento: {resultado[3]}')
        print('-' * 50)
else:
    print("Nenhum evento encontrado no Rio de Janeiro.")

### Consulta 4 - Mostrar todos os eventos que são ao ar livre.

In [ ]:

cursor.execute('''
SELECT e.nome, de.data, de.localizacao, e.tipo
FROM eventos e
JOIN dados_eventos de ON e.id = de.id_evento
WHERE de.localizacao LIKE '%ao ar livre%' OR de.localizacao LIKE '%externo%' OR de.localizacao LIKE '%praça%'
''')

resultados = cursor.fetchall()

if resultados:
    for resultado in resultados:
        print(f'Título: {resultado[0]}')
        print(f'Data: {resultado[1]}')
        print(f'Localização: {resultado[2]}')
        print(f'Tipo de Evento: {resultado[3]}')
        print('-' * 50)
else:
    print("Nenhum evento encontrado ao ar livre.")

### Consulta 5 - Mostrar todos os Metadados por evento

In [ ]:

cursor.execute('''
SELECT e.nome, m.metadado
FROM eventos e
JOIN metadados m ON e.id = m.id_evento
''')

resultados = cursor.fetchall()


if resultados:
    for resultado in resultados:
        print(f'Título: {resultado[0]}')
        print(f'Metadado: {resultado[1]}')
        print('-' * 50)
else:
    print("Nenhum metadado encontrado para os eventos.")

cursor.close()